<!--The content below is only a placeholder and can be replaced.-->

<html>
    <input type="button" onclick="alert('The Bee Budget!')" value="Must Press!">
<h1 style="border:7px solid green;">Bee Budget</h1>
    
<style>
  table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
  }
  th, td {
      padding: 5px;
      text-align: left;    
  }
  </style>
<table style="width:48%">
  <tr>
    <th>Items</th>
    <th>Income</th> 
  </tr>
  <tr>
      <td>Thanks Offering</td>
      <td>R 1000</td> 
      
    </tr>
  <tr>
    <td>Transport</td>
    <td>R 340</td> 
    
  </tr>
  <tr>
    <td>Food</td>
    <td>R 100</td> 

  </tr>
  <tr>
    <td>Tithe</td>
    <td>R 200</td> 
    
  </tr>
  <br>
  <tr>
      <th>Total</th>
      <td>R 1 640</td> 
  
    </tr>
  <tr>
      <th>Money left</th>
      <td>R 360</td> 
    </tr>
   

</table>
</html>
